<% provide(:title, 'Users')%>
<p id="notice"><%= notice %></p>


<h1 id="pagetitle">
  <%= @user.name %>
</h1>

<%= image_tag @user.avatar.url(:medium), :id => 'profileimage' %>

<p>
  <strong>birth date</strong>
  <%= @user.birth_date%>
</p>

<p>
  <strong>age </strong>
  <% if !@user.birth_date.nil? %>
  <%= Date.current.year() - @user.birth_date.year()%>
  <% end %>
</p>

<p>
  <strong>country</strong>
  <%= @user.country %>
</p>

<p>
  <strong>gender</strong>
  <%= @user.gender%>
</p>

<p>
  <strong>e-mail</strong>
  <%= @user.email %>
</p>


<h4>Personal Summary</h4>
<p>
  <%= @user.summary %>
</p>

<h4>Languages</h4>
<ul>
  <% @user.languages.each do |l|%>
   <li><%= l.language %></li>
  <% end %>
</ul>

<h4>Employment</h4>
<ul>
  <% @user.employments.each do |e|%>
      <li><%= e.employment %></li>
  <% end %>
</ul>

<h4>Projects</h4>
<ul>
  <% @user.projects.each do |p|%>
      <li><%= p.project %> from <%= p.company.name %></li>
  <% end %>
</ul>

<h4>Current Occupation</h4>
<p> </p>

<h4>Previous Occupation</h4>
<p> </p>


<h4>Messages (<%= @user.messages.count %>)</h4>
<div class="span8">
  <% if @user.messages.any? %>
        <%= render @messages %>
  <% end %>
</div>

<br>
<%= link_to 'Edit Profile', edit_user_path(@user), :class => "button" %>
