<% provide(:title, 'Users')%>
<p id="notice"><%= notice %></p>

<h1 id="pagetitle">

  <%= @user.name %>
</h1>

<p>
  <strong>birth date</strong>
  <%= @user.birth_date%>
</p>

<p>
  <strong>age </strong>
  <%= Date.current.year() - @user.birth_date.year()%>
</p>

<p>
  <strong>country</strong>
  <%= @user.country %>
</p>

<p>
  <strong>gender</strong>
  <%= @user.gender%>
</p>

<p>
  <strong>e-mail</strong>
  <%= @user.email %>
</p>


<h4>Personal Summary</h4>
<p>
  <%= @user.summary %>
</p>

<h4>Languages</h4>
<p> </p>

<h4>Employment</h4>
<p> </p>

<h4>Projects</h4>
<p> </p>

<h4>Current Occupation</h4>
<p> </p>

<h4>Previous Occupation</h4>
<p> </p>

<h4>Projects</h4>
<p> </p>

<h4>Recent Messages</h4>
<p> </p>

<br>
<%= link_to 'Edit Profile', edit_user_path(@user), :class => "button" %>
