<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @news.title %>
</p>

<p>
  <strong>Image:</strong>
  <%= @news.image %>
</p>

<p>
  <strong>Content:</strong>
  <%= @news.content %>
</p>

<p>
  <strong>Rails:</strong>
  <%= @news.rails %>
</p>

<p>
  <strong>G:</strong>
  <%= @news.g %>
</p>

<p>
  <strong>Scaffold:</strong>
  <%= @news.scaffold %>
</p>

<p>
  <strong>News:</strong>
  <%= @news.News %>
</p>

<p>
  <strong>Title:</strong>
  <%= @news.title %>
</p>

<p>
  <strong>Image:</strong>
  <%= @news.image %>
</p>

<p>
  <strong>Content:</strong>
  <%= @news.content %>
</p>

<%= link_to 'Edit', edit_news_path(@news) %> |
<%= link_to 'Back', news_index_path %>
