<% provide(:title, 'Companies')%>
<h1 id="pagetitle" >Listing Companies</h1>


<% @companies.each do |company| %>

<a href="<%= company_path(company) %>">
    <div class="profileitem">
        <div class="profileitem_description">
          <p><strong><%= company.name %></strong></p>
          <p><%= company.year_founded %></p>
          <p><%= company.location %></p>
        </div>
        <div class="profileitem_options">

        </div>
    </div>
</a>


<% end %>

<br>

<%= link_to 'New Company', new_company_path %>
