<% provide(:title, @company.name)%>
<p id="notice"><%= notice %></p>

<h1 id="pagetitle">

  <%= @company.name %>
</h1>

<%= image_tag @company.image.url(:medium), :id => 'profileimage' %>

<p>
  <strong>Description:</strong>
  <%= @company.description %>
</p>

<p>
  <strong>Year founded:</strong>
  <%= @company.year_founded %>
</p>

<p>
  <strong>Location:</strong>
  <%= @company.location %>
</p>

<br>

<%= link_to 'Edit', edit_company_path(@company), :class => 'button' %>
<%= link_to 'Back', companies_path, :class => 'button' %>
