<!DOCTYPE html>
<html>
<head>
  <title>getPro - <%= yield(:title) %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag "style" %>
  <%= javascript_include_tag "script" %>
  <%= csrf_meta_tags %>
</head>
<body>
<!--HEADER-->
<div id="header">

  <div id="subheader">

    <a href="/">
      <div id="applogo" class="subheadercontent">
        <h1 id="title" class="subheadercontent">getPRO!</h1>
      </div>
    </a>

    <ul id="menu" class="subheadercontent">
      <li class="menuli not_login"><%= link_to "Companies", companies_path %></li>
      <li class="menuli" id="login">
      <% if user_signed_in? %>
        <%= current_user.email %>
        <div id="loginform">
          <%= link_to "Sign out", destroy_user_session_path, :method => :delete, :class => 'button' %>
        </div>
      <% else %>
        <a href="#">Login</a>
        <div id="loginform">
          <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
            <div>
              <%= f.email_field :email, :autofocus => true, :placeholder => 'Email' %>
              <%= f.password_field :password, :placeholder => 'Password' %>
            </div>
            <div>
            <% if devise_mapping.rememberable? -%>
                <%= f.check_box :remember_me %> <%= f.label :remember_me %>
            <% end -%>
            <%= f.submit "Login" %>
            <%= link_to "Register",  '/users/sign_up', :class => 'button' %>
            </div>
          <% end %>
        </div>
      <% end %>
      </li>
    </ul>

  </div>

</div>



<div id="main">
  <div id="mainpage" class="maincontent">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </div>
</div>

<!--FOOTER-->
<div id="footer">
  <div id="subfooter">
    <div id="footerdaweb" class="subfootercontent">
      <ul id="subfootertitle">
        <li>Let´s Get Pro!</li>
        <li><a href="http://ctp.di.fct.unl.pt/lei/daweb/">DaWeb 2013/2014</a></li>
      </ul>
    </div>
    <div id="footerother" class="subfootercontent">
      <ul id="subfooterother">
        <li>More</li>
        <li><%= link_to( "About us" , about_path )%></li>
      </ul>
    </div>
    <a id="footervalidator" href="http://validator.w3.org/check/referer"><img src="http://www.w3.org/Icons/valid-xhtml11" alt="W3Validate"/></a>
  </div>
</div>

</body>
</html>
